.rake_test_cache

# ignore metadata.json files created when uploading cookbooks to chef-server
metadata.json
.chef
# ignore Librarian's /tmp directory
/tmp
.swp
# ignore Vagrant's .vagrant directory
/.vagrant
cookbooks/*
tmp
cookbooks.tgz
